$bgcolor: #dfdf00;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $bgcolor
}

.logo {
    background-image: url('../img/package.png');
    height: 284px;
    width: 284px;
}